*.md text eol=lf
*.txt text eol=lf
*.tex text eol=lf
*.groovy text eol=lf
*.sh text eol=lf
*.lua text eol=lf

.vimrc text eol=lf

*.gif   binary
*.jar   binary
*.jpeg  binary
*.jpg   binary
*.png   binary
*.vsd   binary
